body {
  margin: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 64px;

  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.temperature {
  font-size: 3rem;
  font-weight: bold;
}

.main {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
}

.main div{
  font-size: 1.5rem;
}
